@import "variables";
@import "mixins";

.excel__table {
    position: absolute;
    left: 0;
    right: 0;
    top: $header-height + $toolbar-height + $formula-height;
    overflow-x: auto;
    padding: 0 20px;
    padding-bottom: 3px;
    .row {
        display: flex;
        flex-direction: row;
        min-height: $row-min-height;
    }
    .row-info {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $info-cell-width;
        background: #f8f9fa;
        border: $border;
        border-top: none;
        padding: 5px;
    }
    .row-data {
        display: flex;
    }
    .column {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        background: #f8f9fa;
        min-width: 40px;
        width: $cell-width;
        border: $border;
        border-left: none;
        border-top: none;
    }
    .cell {
        min-width: 40px;
        padding: 5px;
        width: $cell-width;
        height: 100%;
        border: solid #575454 1px;
        border-top: 0;
        border-left: 0;
        white-space: nowrap;
        transition: .2s;
        outline: none;
        &.selected {
            border:none;
            outline: 2px solid #0ec1ce;
        }
    }
}
